@using API.Models
@model Usuario
<h2>Apptivo-Beta</h2>
<div class="container-fluid" align="center">
    @using (Html.BeginForm("Registro", "Apptivo", FormMethod.Post, new { @class = "form-signin", enctype = "multipart/form-data" }))
    {
        <h1 class="form-signin-heading">Registro</h1><br />
        @Html.TextBoxFor(x => x.Nombre, new { @class = "form-control", type = "text", name = "name", id = "name", placeholder = "Ingresa tu nombre", required = "", autofocus = "" })
        @Html.TextBoxFor(x => x.Apellido, new { @class = "form-control", type = "text", name="lastname", id="lastname",  placeholder="Ingresa tu apellido", required = "", autofocus = ""});
        @Html.TextBoxFor(x => x.Email, new { @class = "form-control", type = "email", name = "email", id = "email", placeholder = "Ingresa tu email", required = "", autofocus = "" });
        @Html.PasswordFor(x => x.Contraseña, new { @class = "form-control", type = "password", name = "password", id = "password", placeholder = "Ingresa tu contraseña", required = "", autofocus = "" });
        @Html.Label("Masculino  ")@Html.RadioButton("Sexo", "Masculino") <br />
        @Html.Label("Femenino  ")@Html.RadioButton("Sexo", "Femenino")<br />
        <div align="center">
            <button class="btn btn-lg btn-primary btn-block" type="submit" value="Crear">Registrarse</button><br />
       </div>
    }
    </div>

